@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html, body{
    height: 100%
}
body{
    font-family: 'Inconsolata', monospace;
    font-size:0.7em;
}
textarea{
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
header h1{
    font-size: 0.95vw;
    letter-spacing: 0.25vw;
}

nav ul:first-child li {
    margin-right:16px;
    font-size:0.9rem;
}
nav ul:last-child li {
    margin-left:16px;
    font-size:0.9rem;
}
nav ul:last-child li:last-child {
    padding-right:16px;
}
nav ul li{
    cursor: pointer;
}
header nav{
    min-height:2rem;
    justify-content: center
}
header nav ul{
    justify-content: stretch;
    align-content: center
}
header nav ul li{
    line-height:2.1em;
    height:2rem;
}
.resizable {
    resize: both;
    overflow: auto;
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
}
textarea{
    min-height: 95%;
    border: 1px solid rgba(0, 0, 0, .1);
    width:100%;
    outline: none;
}
section h1{
    min-height: 1.5em;
    padding-left:4px;
}
.bg-grey{
    background-color: dimgray;
    color:white;
}
/* Fix some flexbox css properties */

.dropdown-content {
    top:2.2em;
    bottom:auto;
    width:auto;
  }
  .left .dropdown-content {
    right: 0;
    left: auto;
}

.right{
    float: right;
}

.left{
    float: left;
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }
 .closure{
     cursor: pointer;
     outline: none
 }

 a.bg-dark {
     color:#ddd;
 }

 textarea.line-number{
    background: #fff url('../images/line-number.png');
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    font-size: 13px;
    line-height:16px;
    padding-top:12px;
}