@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body{
    font-family: 'Inconsolata', monospace;
    font-size:0.7em;
}
textarea{
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}
header h1{
    font-size: 0.95vw;
    letter-spacing: 0.25vw;
}
nav ul:first-child li {
    margin-right:16px;
    font-size:0.9rem;
}
nav ul:last-child li {
    margin-left:16px;
    font-size:0.9rem;
}
header nav{
    min-height:2rem;
    justify-content: center
}
header nav ul{
    justify-content: stretch;
    align-content: center
}
header nav ul li{
    line-height:2.1em;
    height:2rem;
}
.resizable {
    resize: both;
    overflow: auto;
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
}
textarea{
    min-height: 95%;
}
.bg-grey{
    background-color: dimgray;
    color:white;
}
/* Fix some flexbox css properties */

.dropdown-content {
    top:2.2em;
    bottom:auto;
  }
  .left .dropdown-content {
    right: 0;
    left: auto;
}